body {
    background: #202020;
    color: white;
  }
  button {
    width: 100px;
    height: 30px;
    border: 3px solid rgb(84, 197, 241);
    border-radius: 50px;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));
    background: #202020;
    color: rgb(81, 191, 255);
    cursor: pointer;
    outline: none;
  }
  button:hover {
    color: rgb(216, 103, 83);
    border-color: rgb(216, 103, 83);
    transform: scale(1.1);
  }
  #stopwatch {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
  }
  #buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
  }
  #buttons li {
    display: inline;
    padding-left: 10px;
  }